* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

UL {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    min-width: 100%;
}

.conteiner {
    max-width: 1170px;
    padding: 0px 5px;
    margin: 0 auto;
}

.conent {}

.header {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;

}

.logo {
    display: block;

}

.logo__img {
    height: 53px;
    width: 123px;

}

.logo__img path {
    fill: rgba(124, 255, 64);
}

.nav__list {
    display: flex;
    column-gap: 123px;
    font-weight: 500;
    font-size: 25px;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 100px;
    display: block;
}

.btn_color_green {
    background-color: rgba(124, 255, 64);
    transition: alls 0.4s;
}

.product {
    margin: 0;
    max-width: 800px;
}

.product__text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    font-weight: 700;
    font-size: 300px;
    line-height: 150%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /*filter :blur(300px);
    border-radius:50%;
    overflow:hidden;*/
    position: relative;
}

.product__content {
    position: relative;
}

.product__content::before {
    content: "";
    display: block;
    width: 400px;
    height: 500px;
    background-color: rgba(124, 255, 64);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px);
}

.product__img {
    position: absolute;
    top: 53%;
    left: 46%;
    transform: translate(-50%, -50%);

}

.product__btn_theme_paransprent {
    color: 7cff;
}

.main__deck {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
}